.containerLogin{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("https://1.bp.blogspot.com/-aUvXNcrL6bo/UNuZzRf6VpI/AAAAAAAAyS0/5fBYs-d9Qxs/s1600/1024+-+Paisaje+Wallpaper+(31).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form{
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px;
}