<div class="containerRegister">
    <form [formGroup]="form" fxLayout="column">
        <mat-form-field class="example-form-field">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-error *ngIf="username?.hasError('required') && (username?.dirty || username?.touched)">
                Nombre de usuario requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)">
                Correo electrónico requerido
            </mat-error>
            <mat-error *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)">
                Correo electrónico invalido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="last_name">
            <mat-error *ngIf="last_name?.hasError('required') && (last_name?.dirty || last_name?.touched)">
                Apellido requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password?.hasError('required') && (password?.dirty || password?.touched)">
                Contraseña requerida
            </mat-error>
        </mat-form-field>

        <button mat-button (click)="onRegister()">Registrar</button>
        <button mat-button routerLink="">Cancelar</button>
    </form>
</div>