<div>
    <h1>Usuarios</h1>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Fecha de registro</th>
                <th scope="col">Estatus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.date_joined | date}}</td>
                <td>
                    <p [ngClass]="{'text-success': user.is_active, 'text-danger': !user.is_active}">
                        <mat-icon>fiber_manual_record</mat-icon>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>