<div class="overlay" *ngIf="showProgress |async">
    <div style="z-index: 9999999; position: absolute; height: 100vh; width: 100%" fxLayoutAlign="center center">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>